## Ignore devs folders and files
*.sln

## Ignore Visual Studio folders and files

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
### *.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Studio cache/options directory
.vs/

## Word temporary
~$*.doc*

# Others
ClientBin/
~$*
*~
/ACPRJira/obj/Debug/ACPRJira.csproj.AssemblyReference.cache
/ACPRJira/obj/Debug/ACPRJira.csproj.CoreCompileInputs.cache
/ACPRJira/obj/Debug/ACPRJira.csproj.FileListAbsolute.txt
/ACPRJira/obj/Debug/ACPRJira.dll
/ACPRJira/obj/Debug/ACPRJira.pdb
/ACPRJira/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ACPRJira/bin/Debug/ACPRJira.dll
/ACPRJira/bin/Debug/ACPRJira.pdb

!Customization/**/[Bb]in/
